[submodule "Genshin-Impact-Miliastra-Wonderland-Code-Node-Editor-Pack"]
	path = Genshin-Impact-Miliastra-Wonderland-Code-Node-Editor-Pack
	url = https://github.com/Wu-Yijun/Genshin-Impact-Miliastra-Wonderland-Code-Node-Editor-Pack.git
